*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    /* background-color:crimson; */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.box1{
    height: 500px;
    width: 250px;
    background-color:cyan;
    transform: rotate(160deg);
    border: 2px solid rgb(24, 23, 23);
}
.box2{
    height: 500px;
    width: 250px;
    background-color:cyan;
    transform: rotate(160deg);
    border: 2px solid rgb(24, 23, 23);
}
.box3{
    height: 500px;
    width: 250px;
    background-color:cyan;
    transform: rotate(160deg);
    border: 2px solid rgb(24, 23, 23);
}
